<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <!--阻止浏览器缓存-->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <!-- Basic Page Needs
     ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏
    ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面
    ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="style/css/reset.css">
    <link rel="stylesheet" href="style/css/common.css">
    <link rel="stylesheet" href="style/css/swipebox.css">
    <link rel="stylesheet" href="style/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="style/css/emojione.min.css">
    <link href="cdn.bootcss.com/emojione/2.2.2/assets/sprites/emojione.sprites.css" rel="stylesheet">
    <!--<link href="style/css/emoji.css" rel="stylesheet">-->
    <script src="style/js/emojione.js"></script>
    <!--<script src="style/js/zepto.min.js"></script>-->
    <script src="style/js/jquery-1.12.2.min.js"></script>
    <script src="style/js/common.js"></script>
    <script src="style/js/jquery.swipebox.js"></script>
    <script src="style/js/plan-test.js"></script>
    <script src="style/js/public.js"></script>
    <script src="style/js/swiper-3.3.1.jquery.min.js"></script>
    <script type="text/javascript" src="style/js/angular1.3.1.js"></script>
    <title>备考八卦</title>
    <style>
        #plan-test {
            padding-bottom: 2.5rem;
        }

        .publish-list li {
            padding: 0.5rem 0 0.4rem;
            background: #ffffff;
            margin-bottom: 0.6rem;
        }

        .msgHint {
            border-radius: 6px;
            display: inline-block;
            padding: 0rem 0.6rem 0.22rem;
            margin: 0 auto;
            background: #197FEE;
        }

        .hintWrap {
            display: none;
            padding: 0.5rem 0 0;
            background: #ffffff;
        }

        .msg {
            padding-left: 0.5rem;
            color: #ffffff;
            font-size: 0.6rem;
        }

        .refresh {
            color: #999;
            display: none;
            text-align: center;
            font-size: 0.4rem;
            padding: 0.5rem 0;

        }

        .touchend {
            transition: all 0.6s ease-out;
            -webkit-transform: translate(0, 0) translateZ(0);
            transform: translate(0, 0) translateZ(0);
        cubic-bezier(0.1, 0.57, 0.1, 1);
        }

    </style>
</head>
<body id="plan-test" ng-controller="PriceCtrl">
<!--公共标题栏-->
<section class="commonTit tm clearfix">
    <a href="user-center.html"><i class="return fl icon-angle-left"></i></a>
    <span class="Tit inb">备考八卦</span>
    <a class="fr" href="forum.html"><img src="style/images-4/icon-pen.png" style="height: 0.8rem" alt=""></a>
</section>
<!--消息提醒-->
<section>
    <div id="wrapper" class="wrapper" style="transform: translate(0px, 0px) translateZ(0px);">
        <div id="refresh" class="refresh">
            <span class="text">刷新中...</span>
        </div>
        <section class="hintWrap tm">
            <a href="message.html">
                <div class="msgHint"><img src="style/images-4/light-1.png" style="width: 1.3rem" alt=""><span
                        class="msg">你有{{num}}条新消息</span></div>
            </a>
        </section>
        <ul class="publish-list">

            <li ng-repeat="item1 in items1">
                <div class="user-wrap">
                    <div class="plan-userHeader inb"><img src="http://www.gmatonline.cn/{{item1.icon}}"
                                                          onerror="this.src='style/images/userDefault.png'" alt="">
                    </div>
                    <div class="inb">
                        <p class="user-name">{{item1.publisher}}</p>
                        <p class="publish-data">{{item1.createTime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    </div>
                </div>
                <div class="article-wrap">
                    <a href="show-article.html?id={{item1.id}}&publisher={{item1.uid}}&type=1">
                        <h1 class="article-tit" ng-bind-html="item1.title"></h1>
                        <div>
                            <div class="box">
                                <p class="article-text" ng-bind-html="item1.content"></p>
                            </div>
                            <div class="article-img">
                                <div class="up-img" ng-repeat="item2 in item1.image">
                                    <a href="http://gossip.gmatonline.cn/{{item2}}" class="swipebox" title="My Caption"><img src="http://gossip.gmatonline.cn/{{item2}}" alt="image"></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="tr comment">
                        <input class="gossipId" type="hidden" value="{{item1.id}}">
                        <em class="likeWrap"><img src="style/images-4/icon-p2.png" alt=""><span class="likeNum">{{item1.likeNum}}</span></em>
                        <em class="comment-icon" ><img class="on" src="style/images-4/icon-p1.png" alt=""><span>{{item1.count}}</span></em>

                    </div>
                    <div class="comment-list">
                        <a href="show-article.html?id={{item1.id}}&publisher={{item1.uid}}&type=1">
                            <p ng-repeat="item1 in item1.reply" ng-class="{'courseHide':$index>3}" class="comment-text">
                                <strong class="replyer-name">{{item1.uName}}</strong><strong
                                    ng-show="item1.replyUserName!=''" class="replyer-name">{{" 回复"+item1.replyUserName}}</strong>:<span ng-bind-html="item1.content"></span>
                            </p>
                        </a>
                        <a href="show-article.html?id={{item1.id}}&publisher={{item1.uid}}&type=1">
                            <div class="show-all-comment" ng-show="{{item1.count}}>4">查看全部{{item1.count}}条评论…</div>
                            <div class="show-all-comment tm" ng-show="{{item1.count}}<=0">暂时没有评论！我要去评论....</div>
                        </a>
                    </div>
                </div>

            </li>


        </ul>
    </div>
</section>
<!--footer-->
<footer>
    <div class="row" style="margin: 0 auto">
        <ul class="footer-list">
            <li>
                <a href="index.html">
                    <div class="ft-list-wrap">
                        <i><img src="style/images-4/icon-1A.png" style="width: 12px" alt=""></i>
                        <p class="ft-name">做题模考</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="knowledge.html">
                    <div class="ft-list-wrap">
                        <i><img src="style/images-4/icon-2A.png" style="width: 17px" alt=""></i>
                        <p class="ft-name">知识库</p>
                    </div>
                </a>
            </li>
            <li class="on">
                <a href="plan-test.html">
                    <div class="ft-list-wrap">
                        <i class="hint-wrap relative"><img src="style/images-4/icon-3B.png" style="width: 17px"
                                                           alt=""><span class="ani hint">10</span></i>
                        <p class="ft-name">备考八卦</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="GMAT-class.html">
                    <div class="ft-list-wrap">
                        <i><img src="style/images-4/icon-4A.png" style="width: 18px" alt=""></i>
                        <p class="ft-name">GMAT课程</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="user-center.html">
                    <div class="ft-list-wrap">
                        <i><img src="style/images-4/icon-5A.png" style="width: 13px" alt=""></i>
                        <p class="ft-name">个人中心</p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</footer>
</body>

<script type="text/javascript">

    $(function () {

        var wrapper = document.getElementById('wrapper');
        var body = document.body;
        var start, diff;
        document.addEventListener('touchstart', function (event) {
            if (event.targetTouches.length == 1) {
                var touch = event.targetTouches[0];
                start = touch.pageY;
            }
        }, false);
        function touchend(){
            document.addEventListener('touchend', function (event) {
                $(wrapper).css({
                    '-webkit-transform': 'translate(0, 0) translateZ(0)',
                    'transform': 'translate(0, 0) translateZ(0)'
                });
                if (body.scrollTop === 0) {
                    $(wrapper).addClass("touchend").animate({top: "0"}, 600, function () {
                        $(".refresh").show();
                        location.reload();
                    })
                }
//            if(body.scrollTop === 0){
//                $(wrapper).animate({
//                    '-webkit-transform': 'translate(0, 0) translateZ(0)',
//                    'transform': 'translate(0, 0) translateZ(0)'
//                }, 600, 'cubic-bezier(0.1, 0.57, 0.1, 1)', function() {
//                    location.reload();
//                })
//            }
            }, false);
        }


        document.addEventListener('touchmove', function (event) {
            if (body.scrollTop > 0) {
                diff = 0;
                return false;
            }
            if (diff < 0) {
                $(wrapper).css({
                    '-webkit-transform': 'translate(0, 0) translateZ(0)',
                    'transform': 'translate(0, 0) translateZ(0)'
                });
                return false;
            }
            if (body.scrollTop === 0) {
                $(wrapper).removeClass("touchend");
                if (event.targetTouches.length == 1) {
                    event.preventDefault();
                    var touch = event.targetTouches[0];
                    diff = touch.pageY - start;
                    $(wrapper).css({
                        '-webkit-transform': 'translate(0, ' + diff / 3 + 'px) translateZ(0)',
                        'transform': 'translate(0, ' + diff / 3 + 'px) translateZ(0)'
                    });
                    touchend();
                }
            }
        }, false);


    });
    //    查看图片
    $(function ($) {
        $(".swipebox").swipebox({
            useCSS: true, // false will force the use of jQuery for animations
            useSVG: true, // false to force the use of png for buttons
            initialIndexOnArray: 0, // which image index to init when a array is passed
            hideCloseButtonOnMobile: false, // true will hide the close button on mobile devices
            removeBarsOnMobile: true, // false will show top bar on mobile devices
            hideBarsDelay: 3000, // delay before hiding bars on desktop
            beforeOpen: function () {
            }, // called before opening
            afterOpen: null, // called after opening
            afterClose: function () {
            }, // called after closing
            loopAtEnd: true // true will return to the first image after the last image is reached
        });
//        显示全文
        function show() {
            var box = $(".box");
            var text = box.html();
            var newBox = document.createElement("div");
            var btn = document.createElement("span");
            $(newBox).html(text.substring(0, 200));
            $(btn).html(text.length > 200 ? "全文" : "").addClass("show-all");
            $(btn).on("click", function () {
                if ($(this).html() == "全文") {
                    $(this).html("收起");
                    $(newBox).html(text);
                } else {
                    $(this).html("全文");
                    $(newBox).html(text.substring(0, 200));
                }
            });
            box.html("");
            $(box).append($(newBox));
            $(box).append($(btn));
        }

        show();

    });
</script>

</html>