.courseImg{
    width: 90%;
    height: 166px;
    border: 1px #dcdcdc solid;
    margin-top: 35px;
    overflow: hidden;
}
.courseImg img{
    height: 100%;
}
.rightInfo{
    width: 100%;
    margin-top: 35px;
}
.rightInfo ul li:first-child{
    color: #f23131;
    font-size: 1.2em;
}
.rightInfo ul li.fir{
    color: #24c36f;
}

.rightInfo ul li:nth-child(2){
    color: #9d9d9d;
    text-decoration: line-through;
    border-bottom: 1px #cdcdcd solid;
    padding-bottom: 15px;
}
.rightInfo ul li.orderP{
    text-decoration: none;
    font-size: 1em;
    padding-bottom: 10px;
}
.rightInfo ul li:last-child{
    border-bottom: 1px #cdcdcd solid;
    padding-bottom: 10px;
}
.rightInfo ul li{
    font-size: 0.7em;
    margin-bottom: 10px;
}
.courseIntroduce{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    word-wrap: break-word;
}
.courseIntroduce .contentText img{
    height: auto!important;
    max-width: 100%!important;
}
.courseIntroduce h2{
    color: #0cbd61;
    /*margin-bottom: 20px;*/
    font-size: 1.3em;
}
.courseIntroduce h4{
    font-size: 1.2em;
}
.courseIntroduce .incou{
    color: #696969;
    font-size: 0.8em;
    /*margin-top: 10px;*/
}
.buy{
    width: 100%;
    padding: 10px 0;
    background: #f23131;
    color: white;
    text-align: center;
    font-size: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
}
.buy a{
    width: 100%;
    height: 100%;
    display: block;
    color: white;
}
.disN{
    display: none;
}
.videoInfo{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
#comeRoom{
    display: none;
}
.videoInfo ul li{
    width: 100%;
    margin-bottom: 10px;
}
.videoInfo ul li a{
    width: 100%;
    display: block;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #efeff1;
    color: #888888;
}
.videoInfo ul li a span{
    color: #0eadfd;
    font-size: 20px;
}