.bigTest{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 106px;
}
.bigTest h2{
    color: #0facfc;
    font-size: 2em;
}
.bigTest p{
    width: 70%;
    margin: 0 auto;
    color: #676767;
    font-size: 0.8em;
    margin-top: 20px;
}
.bigTest img{
    width: 70%;
    margin-top: 40px;
}
.bigTest a{
    width: 70%;
    padding: 10px 0;
    display: block;
    background: #0facfc;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1em;
}